@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url(//db.onlinewebfonts.com/c/c953d9f2f29d1b683e7bb90a7f2e716e?family=Hipeless+Brush);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


html, body {
	font-family: "Hipeless Brush"!important;
	box-sizing: border-box!important;
	font-size: 15px;
	overflow-x: hidden;
	margin: 0;
	background-image: url(../img/background.png);
	background-size: cover;
	overflow-x: clip
}

.navbar {
	font-size: 20px;
	color: white;
	
}

.navbar-brand {
	font-size: 30px;
}

.btn-primary {
	background-color: transparent!important;
	border-color: transparent!important;
}

.btn-primary:hover {
	background-color: transparent!important;
	border-color: gray;
}

.btn-primary:focus {
	background-color: transparent!important;
	border-color: transparent!important;
}

.modal-body {
	background-color: rgb(160 142 112);;
}

.logo_h {
	height: 55px;
	width: 55px;
	
}

.navbar-light .navbar-nav .nav-link {
	color: azure;
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
	color: rgb(131, 134, 134);
}

.navbar-light:focus .navbar-nav:focus .nav-link:focus {
	color: rgb(131, 134, 134);
}

.con_roadmap {
	
}



footer {
	width:100%!important;
	position:absolute;
	left:0!important;
	font-family: 'Quicksand', sans-serif;
	
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
}

.btn-primary {
	color: #212529;
	background-color: transparent;
	border-color: transparent;
}

.btn-primary:hover {
	color: #212529;
	background-color: transparent;
	border-color: transparent;
}

.btn-primary:focus,
.btn-primary.focus {
	box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0)
}

.btn-primary.disabled,
.btn-primary:disabled {
	color: #212529;
	background-color: transparent;
	border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
	color: #212529;
	background-color: transparent;
	border-color: transparent;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0)
}

.btn-outline-primary {
	color: transparent;
	background-color: transparent;
	background-image: none;
	border-color: transparent;
}

.btn-outline-primary:hover {
	color: #222;
	background-color: transparent;
	border-color: transparent;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
	box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: transparent;
	background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
	color: #212529;
	background-color: transparent;
	border-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0)
}

.modal-header {
	background-color: rgb(160 142 112);
	border-bottom: 1px solid #80745e;
}

#roadmap_ui, #token_ui, #dao_ui {
	border: 10px solid rgba(255, 255, 255, 0.164);
	border-radius: 20px;
	background-color: rgb(160 142 112);
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) inset;
-moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) inset;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2) inset;
	
}

.modal-body {
	font-family: 'Quicksand', sans-serif;
}

.navbar-light .navbar-brand {
	color: white;
}

.accordion-flush {
	margin-bottom: 100px;
	margin-top: 100px;
}

.accordion-body {
	font-family: 'Quicksand', sans-serif;
}

.art {
	background-image: url(../img/art.PNG);
	height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.token_ui {
	margin-top: 45px!important;
}